.main {
  margin: auto;
  font-family: "Ubuntu", sans-serif;
}

.image {
  min-height: 172px;
  background-image: url("../../../../pages/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.indicators {
  margin-top: 2.5rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.form {
  background-color: var(--color--bg-light);
  padding-top: 24px;
  min-height: 80vh;
}

.errorMessage {
  color: var(--color--danger);
  margin: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .main {
    max-width: 1024px;
    display: flex;
    justify-content: flex-start;
    background-color: var(--color--white);
    padding: 16px;
  }

  .image {
    min-width: 274px;
    min-height: 568;
    background-image: url("../../../../pages/assets//images/bg-sidebar-desktop.svg");
  }

  .form {
    background-color: var(--color--white);
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .stepIndicators {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .indicators {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
  }
}

@media screen and (max-width: 240px) {
  .image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .stepIndicators {
    display: flex;
  }
  .indicators {
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 32px 16px;
  }
}

@media screen and (max-width: 193px) {
  .indicators {
    margin: 16px 50px 0;
  }
}

@media screen and (max-width: 177px) {
  .indicators {
    margin: 16px 30px 0;
  }
}
