.main {
  margin: auto;
  font-family: "Ubuntu", sans-serif;
}

.image {
  min-height: 172px;
  background-image: url("../../../../pages/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.stepIndicators {
  margin-top: 2.5rem;
  margin-left: 2rem;
}

.form {
  background-color: var(--color--bg-light);
  padding-top: 24px;
  min-height: 80vh;
}

.errorMessage {
  color: var(--color--danger);
  margin: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .main {
    max-width: 1024px;
    display: flex;
    justify-content: flex-start;
    background-color: var(--color--white);
    padding: 16px;
  }

  .image {
    min-width: 274px;
    min-height: 568;
    background-image: url("../../../../pages/assets//images/bg-sidebar-desktop.svg");
  }

  .form {
    background-color: var(--color--white);
    margin: auto;
  }
}
