.id {
  display: flex;
  flex-direction: column;
}
.idInner {
  display: flex;
}

.defaultSpacing {
  margin-bottom: 15px;
}

.idSpacing {
  margin-bottom: 4px;
}

.largeSpacing {
  margin-bottom: 30px;
}

.detailsMain {
  display: flex;
  flex-direction: column;
  padding: 24px;
  /* gap: 30px; */
}

.sub {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 30px;
}

.description {
  padding: 24px;
  text-align: center;
}

@media screen and (max-width: 340px) {
  .description {
    text-align: left;
  }
}

@media screen and (min-width: 640px) {
  .detailsMain {
    padding: 50px 48px 48px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .id {
    flex-direction: column;
  }

  .idLargeScreen {
    margin-bottom: 15px;
  }

  .idSpacing {
    margin-bottom: 15px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .rightSide {
    text-align: right;
  }

  .description {
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  .largeSpacing {
    margin-bottom: 0;
  }
}
