.defaultText {
  font-family: "League Spartan", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: -0.1px;
  /* color: #def3fa; */
  color: var(--color--admin-main);
}

.whiteText {
  color: white;
}
