.bannerMain {
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: -0.25px;
  padding: 14px 19px 11px 18px;
  border-radius: 6px;
  max-width: 172px;
  text-align: center;
  transition: 0.3s;
}

/* .bannerMain:hover {
  border: 1px solid var(--color--intense-purple);

  cursor: pointer;
} */

.primary {
  background-color: rgba(255, 143, 0, 0.06);

  /* text-align: center; */

  color: var(--color--orange);
}

.solved {
  color: #33d69f;
  background-color: var(--color--bg-submited);
}

/* .bannerMain:hover {
  background-color: rgba(255, 255, 255, 0.2);
} */
