.main {
  padding: 0px 24px 32px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.filterAndEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.letterMedium {
  /* font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px; */
}

.arrowIcon {
  margin-left: 8px;
}

.newIssue {
  width: 90px;
  height: 44px;
  padding: 6px 13px 6px 6px;
  background-color: #7c5dfa;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addIcon {
  color: #7c5dfa;
  font-size: 18px;
  font-weight: 700;
  height: 32px;
  width: 32px;
  border-radius: 999px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.issues {
  font-size: 24px !important;
  line-height: 22px !important;
  font-weight: 700;
  letter-spacing: -0.75px !important;
  /* color: #ffffff; */
  text-align: center !important;
  margin-bottom: 5px !important;
}

.total {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #dfe3fa;
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 300px) {
  .main {
    display: flex;
  }
  .filterAndEdit {
    flex-direction: row;
  }
  .issues {
    text-align: left;
    margin-bottom: 0;
  }
  .total {
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 700px) {
  .main {
    padding-bottom: 64px;
  }
  .issues {
    font-size: 36px;
    line-height: 33px;
    letter-spacing: -1.13px;
    margin-bottom: 6px;
  }
  .total {
    text-align: left;
  }
}
