.main {
  padding: 0px 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterAndEdit {
  display: flex;
  align-items: center;
  gap: 18px;
}

.filter {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #ffffff;
}

.arrowIcon {
  margin-left: 8px;
}

.newIssue {
  width: 90px;
  height: 44px;
  padding: 6px 13px 6px 6px;
  background-color: #7c5dfa;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.addIcon {
  color: #7c5dfa;
  font-size: 18px;

  font-weight: 700;
  height: 32px;
  width: 32px;
  border-radius: 999px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterAndEdit {
  display: flex;
}

.issues {
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.75px;
  color: #ffffff;
}

.total {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #dfe3fa;
}

@media screen and (min-width: 800px) {
  .main {
    padding-bottom: 64px;
  }
  .issues {
    font-size: 36px;
    line-height: 33px;
    letter-spacing: -1.13px;
    margin-bottom: 6px;
  }
}
