@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

.main {
  margin: auto;
  width: 375px;
  height: 100vh;
  border: 1px solid red;
  font-family: "Ubuntu", sans-serif;

  background-image: url("../../pages/assets//images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
}
