@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

.main {
  margin: auto;

  width: 375px;

  border: 1px solid red;
  font-family: "Ubuntu", sans-serif;

  background-image: url("../../pages/assets//images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
}

.form {
  background-color: var(--color--bg-light);
  padding-top: 24px;
}

.image {
  min-height: 172px;
  background-image: url("../../pages/assets//images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
}
