.btn {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  padding: 18px 24px;
  position: relative;
  color: var(--color--white);
  border-radius: 24px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.6;
}

.postIssue {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--color--text-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 12px 16px;
  color: var(--color--white);
  border: none;
  border-radius: 4px;
}

.goBack {
  color: var(--color--soft-grey);
  font-size: 16px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: normal;
  padding: 0;
  position: relative;
  background-color: var(--color--white);
  border: none;
}

.loading {
  padding-right: 32px;
}

.spinner {
  position: absolute;
  right: 8px;
  top: 16px;
}

.primary {
  background-color: var(--color--intense-purple);
}

.lightGrey {
  border-radius: 4px;
  border: 1px solid var(--color--soft-grey);
  font-size: 14px;
  color: var(--color--text-primary);
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 24px;
  background-color: var(--color--white);
  padding: 8px 10px;
  margin-top: 16px;
}

.lightGrey:hover {
  background-color: var(--color--pale-grey);
}

.dark {
  color: var(--color--pale-grey);
  background-color: var(--color--bg-canvas-lighter);
}

.danger {
  background-color: var(--color--danger);
}

.light {
  color: var(--color--intense-purple);
  background-color: var(--color--white);
}

.purpleButtonInactive {
  width: 100px;
  padding: 14px 0 11px 0;
  text-align: center;
  align-self: flex-end;
  color: var(--color--hash);
  background-color: var(--color--dark-bg);
  border-radius: 6px;
}

.cancel {
  background-color: var(--color--danger);
  background-color: var(--color--white);
  border-radius: 6px;
}

@media screen and (max-width: 444px) {
  .lightGrey {
    margin: 0;
  }
}
