.modalContainer {
  width: 50%;
  min-height: 150px;
  /* position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; */
  /* background-color: white; */
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 5rem 2rem;
}

.confirmationMessage {
  margin-bottom: 1rem;
  color: var(--color--intense-purple) !important;
  font-size: 18px !important;
}

.button {
  border: none;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.textArea {
  margin-bottom: 1rem;
  width: 100%;
}

.defaultSpinner {
  width: 100px;
  max-height: 40px;
  /* padding: 14px 0 11px 0; */
  /* text-align: center;
  align-self: flex-end; */
  /* color: var(--color--intense-purple); */
  /* background-color: var(--color--bg-light); */
  /* background-color: white; */
  border-radius: 6px;
  display: flex;
  align-content: center;
}
