.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* min-height: 220px; */
  padding: 16px 20px;
  /* width: 100%; */
  color: var(--color--text-primary);
  border: 1px solid var(--color--very-light-grey);
  border-radius: 4px;
  transition: 0.7s;
}

.hidden {
  display: none;
}

.mainContainer:hover {
  border: 1px solid var(--color--intense-purple);
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 444px) {
  .mainContainer {
    margin-bottom: 1rem;
  }
}
