.overlay {
  background-color: var(--color--bg-canvas);
  opacity: 0.99;
  position: fixed;
  margin-top: -20rem;

  inset: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  max-width: 529px;
  min-height: 150px;
  border: 1px solid var(--color--bg-canvas-lighter);
  border-radius: 8px;
  box-shadow: 0px 0px 18px 0px var(--color--black);
  background-color: var(--color--black);
  padding: 5rem 2rem;
}
