.hashItemContainer {
  display: flex;
  align-items: center;
}

.hash {
  font-family: "League Spartan", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 00;
  letter-spacing: -0.1px;
  color: #7e88c3;
}
