.cardMain {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 140px; */

  width: 100%;
  padding: 25px 24px 22px;
  background-color: #1e2139;
  border-radius: 8px;
}
.id {
  color: white;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  margin-bottom: 24px;
  order: 1;
}

.posted {
  color: #def3fa;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 9px;
  order: 2;
}

.location {
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;

  letter-spacing: -0.25px;
  order: 3;
}

.userName {
  color: white;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 24px;
  align-self: flex-end;
  order: 4;
}

.status {
  width: 100px;
  padding: 14px 0 11px 0;
  text-align: center;
  align-self: flex-end;

  order: 5;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #ff8f00;

  background-color: rgba(51, 214, 159, 0.06);
  border-radius: 6px;
  /* width: 104px;
  max-height: 40px; */
}

.hash {
  color: #7e88c3;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.topicIcon {
  /* width: 5px;
  height: 5px;
  background-color: #ff8f00;
  border-radius: 999px; */
  margin-right: 5px;
}

@media screen and (min-width: 400px) {
  .cardMain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 140px;
  }
}

@media screen and (min-width: 700px) {
  .cardMain {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .cardMain > * {
    margin-bottom: 0;
  }

  .status,
  .userName {
    align-self: auto;
  }

  .userName {
    order: 3;
    flex-grow: 1;
  }

  .location {
    order: 4;
    flex-grow: 1;
    text-align: end;
  }
}
