@media screen and (max-width: 400px) {
  .cardMain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cardMain > * {
    text-align: center;
    width: 100%;
  }

  .hash {
    justify-content: center;
    margin-bottom: 10px !important;
  }

  .userName {
    margin-bottom: 10px !important;
  }
}

.cardMain {
  width: 100%;
  padding: 25px 24px 22px;
  position: relative;
}

.id {
  margin-bottom: 24px;
  order: 1;
}

.posted {
  font-weight: 500;
  margin-bottom: 9px;
  order: 2;
}

.location {
  order: 3;
}

.userName {
  margin-bottom: 24px;
  align-self: flex-end;
  order: 4;
}

.submitted {
  margin-bottom: 10px;
  order: 5;
}

.hash {
  color: var(--hash);
  font-weight: 400;
  letter-spacing: -0.25px;
}

.topicIcon {
  margin-right: 5px;
}

.arrowDown {
  order: 6;
  max-width: 8px;
  position: absolute;
  left: calc(50% - 5px);
  bottom: 10px;
  transition: 0.3s;
}

.arrowUp {
  transform: rotate(180deg);
}

.description {
  order: 7;
  width: 100%;
  padding: 25px 24px 22px;

  display: flex;
  justify-content: center;
}

@media screen and (min-width: 400px) {
  .cardMain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
  }
}

@media screen and (min-width: 700px) {
  .cardMain {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: static;
  }

  .cardMain > * {
    margin-bottom: 0;
  }

  .status,
  .userName {
    align-self: auto;
  }

  .userName {
    order: 3;
    flex-grow: 1;
  }

  .location {
    order: 4;
    flex-grow: 1;
    text-align: end;
  }

  .arrowDown {
    position: static;
  }
}
@media screen and (min-width: 948px) {
  .cardMain {
    min-width: 800px;
  }
}
