@media screen and (max-width: 400px) {
  .cardMain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cardMain > * {
    text-align: center;
    width: 100%;
  }

  .hash {
    justify-content: center;
    margin-bottom: 10px !important;
  }

  .userName {
    margin-bottom: 10px !important;
  }
}

.cardMain {
  width: 100%;
  padding: 25px 24px 22px;
  /* background-color: #1e2139; */

  /* border-radius: 8px; */
  position: relative;
}

.regularText {
  font-size: 15px;
  line-height: 15px;
}

.id {
  color: white;
  font-weight: 700;
  margin-bottom: 24px;
  order: 1;
}

.posted {
  /* color: #def3fa; */
  font-weight: 500;
  margin-bottom: 9px;
  order: 2;
}

.location {
  /* color: white;
  font-size: 15px; */
  line-height: 24px !important;
  /* font-weight: 700;
  letter-spacing: -0.25px; */
  order: 3;
}

.userName {
  /* color: white;
  font-weight: 500; */
  margin-bottom: 24px;
  align-self: flex-end;
  order: 4;
}

.submitted {
  width: 100px;
  padding: 14px 0 11px 0;
  text-align: center;
  align-self: flex-end;

  /* font-weight: 700;
  letter-spacing: -0.25px; */
  color: var(--color--orange) !important;

  background-color: var(--color--bg-submited);
  border-radius: 6px;
  margin-bottom: 10px;

  order: 5;
  /* width: 104px;
  max-height: 40px; */
}

.hash {
  /* color: #7e88c3; */
  color: var(--hash);
  font-weight: 400;
  letter-spacing: -0.25px;
}

.topicIcon {
  margin-right: 5px;
}

.arrowDown {
  order: 6;
  max-width: 8px;
  position: absolute;
  left: calc(50% - 5px);
  bottom: 10px;
  transition: 0.3s;
}

.arrowUp {
  transform: rotate(180deg);
}

.description {
  order: 7;
  width: 100%;
  padding: 25px 24px 22px;
  /* background-color: #1e2139; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.closeIcon {
  /* order: 7; */
  /* color: #7c5dfa; */
}

@media screen and (min-width: 400px) {
  .cardMain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
  }

  .closeIcon {
    /* align-self: flex-end; */
  }
}

@media screen and (min-width: 700px) {
  .cardMain {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: static;
  }

  .cardMain > * {
    margin-bottom: 0;
  }

  .status,
  .userName {
    align-self: auto;
  }

  .userName {
    order: 3;
    flex-grow: 1;
  }

  .location {
    order: 4;
    flex-grow: 1;
    text-align: end;
  }

  .closeIcon {
    /* align-self: auto; */
  }

  .arrowDown {
    position: static;
  }
}
@media screen and (min-width: 948px) {
  .cardMain {
    min-width: 800px;
  }
}
