.formContent {
  background-color: #ffffff;
  padding: 32px 24px;
  margin: 0px 16px 24px 16px;
  margin: 0 16px;
  border-radius: 10px;
  position: relative;
  bottom: 96px;
}

.uploadImage {
  color: black;
  display: "flex";
  flex-direction: "column";
  border: 1px solid #9699aa;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.hiddenInput {
  display: none;
}

.imagePreview {
  max-width: 200px;
}

@media screen and (min-width: 800px) {
  .formContent {
    bottom: 0;
    margin: 0;

    padding: 16px 0 0 0;
  }
}
