@media screen and (max-width: 240px) {
  .statusCardContainer {
    display: flex;
    flex-direction: column;
  }

  .status {
    margin-bottom: 1rem;
  }

  .pending {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.overlay {
  background-color: var(--color--bg-canvas);
  opacity: 0.9;
  position: fixed;
  margin-top: -20rem;

  inset: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 24px;
}

.topCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.currentMessage {
  width: 100%;
}

.messageCanvas {
  padding: 24px;
  text-align: center;
}

.selectorInner {
  width: 100px;
  padding: 14px 0 11px 0;
  text-align: center;
  align-self: flex-end;
  color: var(--color--orange);
  /* background-color: var(--color--bg-submited); */

  border-radius: 6px;
}

@media screen and (min-width: 640px) {
  .statusCardContainer {
    padding: 24px 48px 27px;
  }
}
