.statusCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
  padding: 24px;
  background-color: var(--color--black);
}

.topCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topCardInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  color: var(--color--pale-grey);
}

.bottomCard {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messageCanvas {
  padding: 24px;
  text-align: center;
}

@media screen and (max-width: 340px) {
  .statusCardContainer {
    display: flex;
    flex-direction: column;
  }

  .topCardInner {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .bottomCard {
    display: flex;
    align-items: center;
  }

  .status {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 640px) {
  .statusCardContainer {
    padding: 24px 48px 27px;
  }
}
