.label {
  display: block;
  font-size: 12px;
  color: #022959;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 3px;
}

.input {
  padding: 12px 16px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #9699aa;
  border-radius: 4px;
  margin-bottom: 16px;
  color: var(--color--denim);
}

.hidden {
  display: none;
}

@media screen and (min-width: 800px) {
  .input {
    padding: 15px 16px;
    margin-bottom: 24px;
  }

  .label {
    margin-bottom: 8px;
  }
}
