@media screen and (max-width: 240px) {
  .statusCardContainer {
    display: flex;
    flex-direction: column;
  }
  .statusTop {
    margin-bottom: 13px;
  }
  .status {
    margin-bottom: 1rem;
  }
}

.statusCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  padding: 24px 24px 27px;
}

.pending {
  mix-blend-mode: normal;
  border-radius: 6px;
  padding: 14px 18px;
  color: #ff8f00;
  background-color: rgba(255, 143, 0, 0.06);
}

@media screen and (min-width: 640px) {
  .statusCardContainer {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px; ---> changes? */

    padding: 24px 48px 27px;
  }
}
