@media screen and (max-width: 240px) {
  .statusCardContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center !important; */
  }
  /* .statusTop {
    margin-bottom: 13px;
  } */
  .status {
    margin-bottom: 1rem;
  }

  .pending {
    width: 100%;
  }
  /* .pending {
    margin-bottom: 0;
  } */
}

.statusCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  /* padding: 24px 24px 27px; */
  padding: 24px;
}

@media screen and (min-width: 640px) {
  .statusCardContainer {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px; ---> changes? */

    padding: 24px 48px 27px;
  }
}
