.main {
  padding: 0px 24px 32px;
  justify-content: space-between;
  align-items: center;
}

.filter {
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.filter:hover {
  cursor: pointer;
}

.filterAndEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.arrowIcon {
  margin-left: 8px;
}

.newIssue {
  width: 90px;
  height: 44px;
  padding: 6px 13px 6px 6px;
  background-color: var(--color--intense-purple);
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: -0.25px;
  border: none;
}

.newIssue:hover {
  cursor: pointer;
}

.extraText {
  display: none;
}

.filterExtraText {
  display: none;
}

.addIcon {
  color: var(--color--intense-purple);
  font-size: 18px;
  font-weight: 700;
  height: 32px;
  width: 32px;
  border-radius: 999px;
  background-color: var(--color--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.issues {
  text-align: center !important;
  margin-bottom: 5px !important;
}

.total {
  text-align: center;
  margin-bottom: 1rem;
}
.plusSign {
  margin-top: 2px;
}

.dropdownContainer {
  position: relative;
}

.hidden {
  display: none;
}

.dropdown {
  position: absolute;
  top: -50px;
  left: -165px;

  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  z-index: 999;
  background: var(--color--bg-canvas);
  /* background: 979797; */
}

@media screen and (max-width: 454px) {
  .dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 0%;
  }
}

.closeIcon {
  position: absolute;
  top: 5px;
  right: 10px;
  transition: 0.3s;
}

.closeIcon:hover {
  cursor: pointer;
  color: var(--color--intense-purple);
  border-radius: 8px;
}

.lItems {
  border-radius: 8px;
  list-style: none;
  margin: 15px 0;
  min-width: 10rem;
  border: 1px solid transparent;
  width: 100%;
  /* padding: 25px 24px 22px; */
  position: relative;
  transition: 0.3s;
  margin-top: 1.2rem;
}

.lItems:hover {
  border: 1px solid var(--color--intense-purple);
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 454px) {
  .main {
    display: flex;
  }
  .filterAndEdit {
    flex-direction: row;
  }
  .issues {
    text-align: left;
    margin-bottom: 0;
  }
  .total {
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 712px) {
  .newIssue {
    min-width: 140px;
  }

  .issueText {
    display: flex;
    margin-left: 10px;
  }

  .filterExtraText {
    display: flex;
    margin-left: 5px;
    margin-right: 8px;
  }

  .ghost {
    color: var(--color--intense-purple);
    max-width: 5px;
  }

  .main {
    padding-bottom: 64px;
  }

  .issues {
    margin-bottom: 6px;
  }

  .extraText {
    display: flex;
    margin-right: 10px;
  }

  .total {
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  .main {
    padding: 30px 48px 55px;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    padding: 30px 0px 55px;
    min-width: 609px;
  }
}
