.message {
  color: var(--color--danger);
  margin-bottom: 1rem;
  margin-left: 5px;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.sucess {
  color: var(--color--green-button);
  display: flex;
  justify-content: center;
}

.locationBlocked {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

@media screen and (min-width: 800px) {
  .message {
    margin-bottom: 10px;
  }
}
