/* @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;700&display=swap"); */

/* .container {
  margin: auto;
} */

.overlay {
  background-color: var(--color--bg-canvas);
  opacity: 0.9;
  position: fixed;
  margin-top: -20rem;

  inset: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;

  align-items: baseline;
}

.detailsPageMain {
  padding: 0px 24px;
}

.backLink {
  padding-top: 1px;
  padding-bottom: 26px;
}

.backLink:hover {
  color: var(--color--hover-grey);
}

.arrow {
  margin-right: 23px;
}

.footer {
  padding: 22px 48px;
  border-radius: 0;
  display: flex;
}

.buttonsPannel {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.editButton {
  padding: 18px 23px 15px 24px;
  border-radius: 24px;
  background-color: #252945;
}

.buttonEdit {
  border-style: none;
  background-color: #252945;
  border-radius: 24px;
}

.deleteButton {
  background-color: #ec5757 !important;
}

.solvedButton {
  background-color: var(--color--intense-purple) !important;
}

@media screen and (max-width: 430px) {
  .buttonsPannel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 60%;
  }

  .footer {
    justify-content: center;
  }
}

@media screen and (min-width: 640px) {
  .footer {
    padding: 24px 88px;
  }
}

@media screen and (min-width: 767px) {
  .footer {
    display: none;
  }

  .detailsMain {
    margin-bottom: 135px;
  }
}

@media screen and (min-width: 640px) {
  .detailsPageMain {
    padding: 0px 40px;
  }
  .backLink {
    padding-top: 16px;
    padding-bottom: 31px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    display: flex;
    min-height: 100vh;
  }

  .detailsPageMain {
    margin: auto;
    width: 100%;
    max-width: 800px;
    margin-top: 0;
  }

  .backLink {
    padding-top: 65px;
  }
}
