/* @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;700&display=swap"); */

/* .container {
  margin: auto;
  
} */

.link {
  display: flex;

  align-items: baseline;
}

.detailsPageMain {
  padding: 0px 24px;
}

.backLink {
  padding-top: 1px;
  padding-bottom: 26px;
}

.arrow {
  margin-right: 23px;
}

@media screen and (min-width: 640px) {
  .detailsPageMain {
    padding: 0px 40px;
  }
  .backLink {
    padding-top: 16px;
    padding-bottom: 31px;
  }
}

@media screen and (min-width: 948px) {
  .container {
    display: flex;
    min-height: 100vh;
  }

  .detailsPageMain {
    margin: auto;
    width: 100%;
    max-width: 800px;
    margin-top: 0;
  }

  .backLink {
    padding-top: 65px;
  }
}
