.statusCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 24px;
}

.hiddenBar {
  padding: 24px 48px 27px;
}

.topCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topCardHidden {
  display: none;
}

.topCardInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  color: var(--color--pale-grey);
}

.buttonsPannel {
  display: none;
}

.pending {
  align-self: auto;
}

.buttonsPannelFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.confirmationMessage {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  color: var(--color--intense-purple) !important;
  font-size: 18px !important;
  align-self: flex-start;
}

.selector {
  margin-bottom: 1.2rem;
}

.selectorInner {
  width: 150px;
  padding: 14px 0 11px 0;
  text-align: center;
  align-self: flex-end;
  color: var(--color--orange);
  font-weight: 700;
  border-radius: 6px;
}

.textArea {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  padding: 1rem;
  line-height: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 240px) {
  .statusCardContainer {
    display: flex;
    flex-direction: column;
  }

  .status {
    margin-bottom: 1rem;
  }

  .pending {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 300px) {
  .topCardInner {
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .buttonsPannelFooter {
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 582px) {
  .buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: 640px) {
  .statusCardContainer {
    padding: 24px 48px 27px;
  }
}

@media screen and (min-width: 767px) {
  .topCardInner {
    display: flex;
    align-items: center;
    max-width: 28%;
  }

  .buttonsPannel {
    display: flex;
    gap: 8px;
  }

  .buttonsPannelFooter {
    display: none;
  }

  .topCardHidden {
    display: none;
  }

  .hiddenBar {
    display: none;
  }
}
