@media screen and (max-width: 400px) {
  .cardMain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cardMain > * {
    /* text-align: center; */
    width: 100%;
  }

  .id {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 8px;
  }

  .posted {
    margin-bottom: 24px !important;
  }

  .hash {
    justify-content: center;
    /* margin-bottom: 10px; */
  }

  .location {
    margin-bottom: 8px;
  }

  .userName {
    margin-bottom: 24px !important;
  }
}

.cardMain {
  border: 1px solid transparent;
  width: 100%;
  padding: 25px 24px 22px;
  position: relative;
  transition: 0.3s;
}

.cardMain:hover {
  border: 1px solid var(--color--intense-purple);
  border-radius: 8px;
  /* transform: scale(1.03); --> move div  backgroundcanvas but then fix design where it breaks*/
}

.posted {
  font-weight: 500;
  margin-bottom: 9px;
  order: 2;
}

.location {
  order: 3;
  /* display: flex;
  justify-content: right; */
}

.userName {
  margin-bottom: 24px;
  align-self: flex-end;
  order: 4;
}

.submitted {
  margin-bottom: 10px;
  order: 5;
}

.topicIcon {
  margin-right: 5px;
}

.arrowDown {
  order: 6;
  max-width: 8px;
  position: absolute;
  left: calc(50% - 5px);
  bottom: 10px;
  transition: 0.3s;
}

.arrowUp {
  transform: rotate(180deg);
}

.description {
  order: 7;
  width: 100%;
  padding: 25px 24px 22px;

  display: flex;
  justify-content: center;
}

@media screen and (min-width: 400px) {
  .cardMain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
  }
  .id {
    margin-bottom: 24px;
    order: 1;
    display: flex;
    justify-content: left;
  }
}

@media screen and (min-width: 712px) {
  .cardMain {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: static;
  }

  .cardMain > * {
    margin-bottom: 0;
  }

  .status,
  .userName {
    align-self: auto;
  }

  .userName {
    order: 3;
    flex-grow: 1;
  }

  .location {
    order: 4;
    flex-grow: 1;
    text-align: end;
  }

  .arrowDown {
    position: static;
  }
}
@media screen and (min-width: 1000px) {
  .cardMain {
    min-width: 800px;
  }
}
