.detailsMain {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 30px;

  border-radius: 8px;

  background-color: #1e2139;

  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height, or 100% */

  letter-spacing: -0.1px;

  color: #dfe3fa;
}

.id {
  display: flex;
  flex-direction: column;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;

  letter-spacing: -0.1px;

  color: #dfe3fa;
  margin-bottom: 13px;
}

.idHeader {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #ffffff;

  margin-bottom: 4px;
}

.header {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #ffffff;
}

.location {
}

.description {
  padding: 24px;

  border-radius: 8px;
  background-color: #252945;
  /* text-align: center; */
}
