.textBoldRegular {
  /* font-family: "League Spartan", sans-serif; */
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #ffffff;
}

.higherLine {
  line-height: 24px;
}

.largeText {
  font-size: 24px !important;
  line-height: 22px !important;
  font-weight: 700;
  letter-spacing: -0.75px !important;
}

.orangeButton {
  width: 100px;
  padding: 14px 0 11px 0;
  text-align: center;
  align-self: flex-end;
  color: var(--color--orange);
  background-color: var(--color--bg-submited);
  border-radius: 6px;
}
