.textBoldRegular {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 15px;
  /* line-height: 15px; */
  letter-spacing: -0.25px;
  color: var(--color--white);
  max-width: 400px;
}

.higherLine {
  line-height: 24px;
}

.largeText {
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.75px;
}

.largerFont {
  text-align: center;
  font-size: 18px;
  line-height: 1.8rem;
  max-width: 90%;
}

.location {
  font-size: 12px;
  font-weight: 600;
}

.hash {
  color: var(--color--hash);
  font-weight: 400;
}

.darkSummary {
  color: var(--color--text-primary);
  font-size: 16px;
  line-height: 18px;
  font-family: "Ubuntu", sans-serif;
}

.lightSummary {
  color: var(--color--regular-grey);
  font-weight: 100;
}

.lightSummaryDescription {
  color: var(--color--regular-grey);
  font-weight: 100;
  margin-top: 10px;
}

@media screen and (max-width: 300px) {
  .darkSummary {
    margin-bottom: 1rem;
  }

  .lightSummaryDescription {
    margin-top: 0;
  }
}

@media screen and (min-width: 375px) {
  .largerFont {
    font-size: 22px;
  }
}

@media screen and (min-width: 712px) {
  .largeText {
    font-size: 36px;
    line-height: 33px;
    letter-spacing: -1.13px;
  }
}
