.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color--bg-canvas);
  margin-bottom: 32px;
  /* max-height: 72px; */
}

.profile {
  display: flex;
  align-items: center;
}

.smallIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  margin-right: 20px;
  background-color: var(--color--regular-grey);
}

.signOutIcon {
  margin-top: 2.5px;
  margin-left: 2.5px;
}

.signOutIcon:hover {
  cursor: pointer;
}

@media screen and (max-width: 216px) {
  .main {
    flex-direction: column;
  }
  .profile {
    flex-direction: column;
    margin-top: 1rem;
    width: 100% !important;
  }
  .smallIcon {
    margin: 0 !important;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    flex-direction: column;
    margin-bottom: 0;
    height: 100vh;
    position: fixed;
  }

  .profile {
    flex-direction: column;
    width: 100%;
  }

  .smallIcon {
    margin-right: 0;
    margin-bottom: 21px;
  }
}
