.main {
  width: 72px;
  height: 72px;
  background-color: #7c5dfa;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.shapes {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  border-left: 5px solid #7c5dfa;

  border-width: 14px;

  width: 28px;
  height: 0;
  /* margin: 20px; */
  border-radius: 999px;
  z-index: 30;
  rotate: 90deg;
}

.pacmanUp {
  background: white;
  width: 28px;
  height: 14px;
  /* margin-left: -5px;
  margin-right: -5px; */
  border-radius: 50px 50px 0 0;
  /* rotate: 180deg; */
  z-index: 5;
  position: relative;
}

.pacmanInner {
  background-color: red;
  width: 30%;
  height: 100%;
  position: absolute;
  left: 35%;
  bottom: 0%;
  border-radius: 50pxpx;
}

.triangle {
  border-top: 30px solid blue;
  border-right: 15px solid blue;
  border-left: 15px solid transparent;
}

.pacman {
  background: white;
  width: 28px;
  height: 14px;
  /* margin-left: -5px;
  margin-right: -5px; */
  border-radius: 50px 50px 0 0;
  rotate: 180deg;
  z-index: 5;
}

.screen {
  width: 72px;
  height: 72px;
  border-radius: 0px, 20px, 20px;
  background: #9277ff;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  top: 50%;
  z-index: 0;
}

@media screen and (min-width: 948px) {
  .main {
    width: 103px;
    height: 103px;
  }
}
